### Using TwelveData Financial API

- https://twelvedata.com

In [34]:
# Load in API key from TwelveData
from secrets1 import key1

# Other imports
import requests
import time
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [35]:
BASE_URL = "https://api.twelvedata.com/time_series"

In [36]:
# Selected 8 stock tickers
stock_symbols = [
    "AAPL",  # Apple
    "MSFT",  # Microsoft
    "GOOGL", # Google
    "TSLA",  # Tesla
    "META",  # Meta (Facebook)
    "AMZN",  # Amazon
    "DIS",  # Disney
    "PFE",  # Pfizer
]

In [37]:
# Define time range for training (simulation inputs)
start_date = "2020-03-01"
end_date = "2021-03-01"

In [38]:
# Dictionary to store fetched price data
price_data = {}

In [39]:
# Defining function to fetch stock data
def fetch_prices(symbol, start_date, end_date, api_key):
    params = {
        "symbol": symbol,
        "interval": "1day",
        "start_date": start_date,
        "end_date": end_date,
        "apikey": api_key,
    }
    response = requests.get(BASE_URL, params=params)
    data = response.json() # turns into python dictionary to use

    if "values" not in data:
        print(
            f"‚ùå Failed to fetch data for {symbol}: {data.get('message', 'Unknown error')}"
        )
        return None

    df = pd.DataFrame(data["values"])
    df["datetime"] = pd.to_datetime(df["datetime"])
    df["close"] = pd.to_numeric(df["close"])
    df = df.sort_values("datetime")
    return df[["datetime", "close"]]

In [40]:
# Fetch and store data for each stock
for symbol in stock_symbols:
    print(f"üì¶ Fetching data for {symbol}...")
    df = fetch_prices(symbol, start_date, end_date, key1)
    if df is not None:
        price_data[symbol] = df
        print(f"‚úÖ {symbol} data loaded: {len(df)} rows")
    else:
        print(f"‚ö†Ô∏è Skipping {symbol} due to fetch error.")

üì¶ Fetching data for AAPL...
‚úÖ AAPL data loaded: 251 rows
üì¶ Fetching data for MSFT...
‚úÖ MSFT data loaded: 251 rows
üì¶ Fetching data for GOOGL...
‚úÖ GOOGL data loaded: 251 rows
üì¶ Fetching data for TSLA...
‚úÖ TSLA data loaded: 251 rows
üì¶ Fetching data for META...
‚úÖ META data loaded: 251 rows
üì¶ Fetching data for AMZN...
‚úÖ AMZN data loaded: 251 rows
üì¶ Fetching data for DIS...
‚úÖ DIS data loaded: 251 rows
üì¶ Fetching data for PFE...
‚úÖ PFE data loaded: 251 rows

In [42]:
df

      datetime      close
250 2020-03-02  33.092979
249 2020-03-03  32.542690
248 2020-03-04  34.535100
247 2020-03-05  33.643260
246 2020-03-06  33.225810
..         ...        ...
4   2021-02-22  34.260000
3   2021-02-23  33.910000
2   2021-02-24  33.750000
1   2021-02-25  33.820000
0   2021-02-26  33.490000

[251 rows x 2 columns]

In [ ]:
type(price_data)              # should be a dict

dict

In [ ]:
price_data.keys()            # shows stock symbols loaded

dict_keys(['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'META', 'AMZN', 'DIS', 'PFE'])

In [ ]:
# Pick one stock to inspect
df = price_data["MSFT"]      # or "AAPL", "TSLA", etc.

In [ ]:
df.shape                     # Rows and columns